
.icon-html5-1:before { content: '\e800'; } /* '' */
.icon-code:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */